* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", arial;
    font-size: 1.4em;
}

h1 {
    font-family: "bebas Neue", arial;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.5em;
    color: navy;
    margin: 20px;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 15px;
    border: 4px solid navy;
    border-radius: 20px;
    background-color: rgb(238, 255, 247);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 8px;
    margin: 8px;
    padding: 20px;
    border: 2px solid gray;
}

legend {
    font-family: "bebas Neue", arial;
    padding: 5px;
    color: navy;
    font-size: 1.2em;
}

label {
    text-align: right;
    padding-right: 10px;
}

input, select, textarea {
    padding: 5px;
    font-size: 0.7em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    padding: 10px;
    margin: 5px auto 0;
    font-size: 0.8em;
    background-color: navy;
    color: white;
    border-radius: 10px;
    width: 180px;
}

button:hover {
    background-color: rgb(57, 151, 57);
}

footer {
    margin: 20px auto 0;
    width: 700px;
    color: darkgray;
    border-top: 2px solid;
    text-align: center;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 2fr 1fr;
    margin: 5px 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 5px 0;
}

.column3 label {
    text-align: center;
}

